{% extends "layout.html" %} {% load static %} {% block content %}
<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Visita Acapulco!</h1>
            <span class="color-text-a"
              >Lugares emblematicos que debes conocer</span
            >
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Inicio</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Visita Acapulco
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <!-- =======  Blog Grid ======= -->
  <section class="news-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/laQuebrada.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="https://es.wikipedia.org/wiki/La_Quebrada"
                      >La Quebrada</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/capilla.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a
                      href="https://es.wikipedia.org/wiki/Capilla_Ecum%C3%A9nica_La_Paz"
                      >Capilla Ecuménica La Paz</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/laRoketa.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="https://es.wikipedia.org/wiki/Isla_de_La_Roqueta"
                      >Isla de la Roqueta</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/zocalo.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="https://es.wikipedia.org/wiki/Plaza_%C3%81lvarez"
                      >Zocalo de Acapulco y su Catedral</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/costera.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a
                      href="https://es.wikipedia.org/wiki/Avenida_Costera_Miguel_Alem%C3%A1n"
                      >Costera Miguel Aleman y su vida nocturna</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/diamante.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="https://es.wikipedia.org/wiki/Acapulco_Diamante"
                      >Punta Diamante</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img
                src='{% static "img/barraVieja.jpg" %}'
                alt=""
                class="img-b img-fluid"
              />
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="https://es.wikipedia.org/wiki/Playa_de_Barra_Vieja"
                      >Barra Vieja</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Grid-->
</main>
<!-- End #main -->

{% endblock %}
