{% extends "layout.html" %} 
{% load static %} 
{% block content %} 
{% for props in property reversed %}

<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{props.nombrePropiedad}}</h1>
            <span class="color-text-a">{{props.ubicacion}}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="property-grid.html">Propiedades</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{props.nombrePropiedad}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div id="property-single-carousel" class="swiper">
            <div class="swiper-wrapper">
              <div class="carousel-item-b swiper-slide">
                <img src='{% static "assets/img/slide-1.jpg" %}' alt="" />
              </div>
              <div class="carousel-item-b swiper-slide">
                <img src='{% static "assets/img/slide-2.jpg" %}' alt="" />
              </div>
            </div>
          </div>
          <div
            class="property-single-carousel-pagination carousel-pagination"
          ></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="bi bi-cash">$</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">{{props.costo}}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Ficha Técnica</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>ID de la Propiedad:</strong>
                      <span>{{props.id}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Ubicación:</strong>
                      <span>{{props.ubicacion}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tipo de Propiedad:</strong>
                      <span>{{props.tipoPropiedad}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tipo de Operación:</strong>
                      <span>{{props.tipOperacion}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Área:</strong>
                      <span
                        >{{props.metrosTerreno}}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Metros Construidos:</strong>
                      <span
                        >{{props.metrosConstruccion}}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Habitaciones:</strong>
                      <span>{{props.habitaciones}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baños:</strong>
                      <span>{{props.banos}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Pisos:</strong>
                      <span>{{props.pisos}} </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Estacionamientos:</strong>
                      <span>{{props.estacionamientos}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Descripción de la Propiedad</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">{{props.descripcion}}</p>
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Amenities</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  {% for item in props.tipoAmenidades%}
                  <li>{item}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 offset-md-1">
          <ul
            class="nav nav-pills-a nav-pills mb-3 section-t3"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="pills-video-tab"
                data-bs-toggle="pill"
                href="#pills-video"
                role="tab"
                aria-controls="pills-video"
                aria-selected="true"
                >Video</a
              >
            </li>
          </ul>

          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-video"
              role="tabpanel"
              aria-labelledby="pills-video-tab"
            >
              <iframe
                src="https://player.vimeo.com/video/73221098"
                width="100%"
                height="460"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Property Single-->
</main>
<!-- End #main -->
{%endfor%} 
{% endblock %}
